body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background-color: 878787;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(to top, #ecd6d6 50%, #dee0fc 100%);
}

h1 {
  color: rgb(126, 122, 122);
  font-size: 48px;
  font-weight: 100;
  line-height: 30px;
  font-family: "URW Palladio", serif;
  font-weight: bolder;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(126, 122, 122);
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(126, 122, 122);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature .active {
  color: rgb(126, 122, 122);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(126, 122, 122);
}

.btn {
  border-radius: 0px;
  margin: 0 auto;
  display: block;
  background-color: rgb(102, 16, 69);
  border: 0px solid rgb(102, 16, 69);
  transition: all 100ms ease;
  cursor: pointer;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  font-family: "URW Palladio", serif;
  font-weight: bolder;
  color: whitesmoke;
}
